<a href="https://colab.research.google.com/github/MisterAare/Crypto_Price_Analysis_with_PowerBI/blob/main/Crypto_Price_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import yfinance as yf
'''
yfinance is a Python library that provides a simple way to download historical market data from Yahoo Finance.
It allows users to easily access financial data such as stock prices, dividends, and splits.
'''

import datetime
from datetime import date, timedelta
today = date.today()
d1 = today.strftime("%Y-%m-%d")
end_date = d1 # assign the d1 to a variable
d2 = date.today() - timedelta(days=730)
d2 = d2.strftime("%Y-%m-%d")
'''
These codes are written in Python programming language and they are used to subtract 730 days from today's date and then convert the resulting date into a string format of YY-MM-DD.
Here is the breakdown of these codes:

- `date.today()` returns the current date.
- `timedelta(days=730)` is a datetime function that creates a time difference of 730 days from the current date.
- `date.today() - timedelta(days=730)` subtracts 730 days from the current date, resulting in a new date that is 730 days ago from the current date.
- `d2` is the variable that stores the resulting date of the above calculation.
- `d2.strftime("%y-%m-%d")` converts the resulting date into a string format of YY-MM-DD, where `%y` represents the year in two digits, `%m` represents the month in two digits, and `%d` represents the day in two digits.

So, in summary, the codes calculate a date that was 730 days ago from today's date and converts it into a string format of YY-MM-DD.
'''

start_date = d2 # # assign the d2 to a variable

##### **1.2 EXTRACTING DATA FOR BITCOIN (BTC)**

In [3]:
df_btc = yf.download('BTC-USD',
                      start=start_date,
                      end=end_date,
                      progress=False)
'''
This is a Python code that uses the "yfinance" library to download
historical cryptocurrency data for Bitcoin (BTC) in USD from a specified start date to end date.
The variables "start_date" and "end_date" should be defined earlier in the code, and "progress=false" is an optional argument that disables the download progress bar.
'''

df_btc["Date"] = df_btc.index
'''
The given code adds a new column called "date" in the Pandas DataFrame "data". It uses the "index" of the DataFrame "data" as the values for the "date" column
Here, the Pandas DataFrame "data" is assumed to have a datetime index (i.e., the index of the DataFrame is of datetime type).
The code assigns the datetime values from the index to a new column named "date".
By doing this, the "date" column is added to the DataFrame, and it can be used for further analysis or visualization.
'''

df_btc = df_btc[["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]]
'''
This code is reordering the columns of the dataframe named `data`.
The double square brackets are used to select a subset of columns from the dataframe.
The subset of columns selected are "date", "open", "high", "low", "close", "adj close", and "volume".
The reordered dataframe will have these columns in the order mentioned in the code.
'''

df_btc.reset_index(drop=True, inplace=True)
'''
This code resets the index of a pandas DataFrame called `data` with `reset_index()` method, and it drops the old index with `drop=True` argument.
The `inplace=True` argument indicates that the change is made directly to the original DataFrame `data` rather than creating a new copy.
In simpler terms, this code removes the old index (if it exists) and creates a new numerical index
by reordering the rows, ensuring that the index starts from 0 and increments by 1 for each row.
'''

print(df_btc.head())
df_btc.to_csv('BTC.csv')

        Date          Open          High           Low         Close  \
0 2021-07-07  34225.679688  34997.664062  33839.289062  33855.328125
1 2021-07-08  33889.605469  33907.906250  32133.183594  32877.371094
2 2021-07-09  32861.671875  34042.292969  32318.880859  33798.011719
3 2021-07-10  33811.242188  34209.070312  33116.011719  33520.519531
4 2021-07-11  33509.078125  34584.703125  33346.738281  34240.187500

      Adj Close       Volume
0  33855.328125  24796027477
1  32877.371094  29910396946
2  33798.011719  27436021028
3  33520.519531  22971873468
4  34240.187500  20108729370

##### **1.3 EXTRACTING DATA FOR ETHEREUM (ETH)**

In [4]:
df_eth = yf.download('ETH-USD',
                      start=start_date,
                      end=end_date,
                      progress=False)
'''
This is a Python code that uses the "yfinance" library to download
historical cryptocurrency data for Ethereum (ETH) in USD from a specified start date to end date.
The variables "start_date" and "end_date" should be defined earlier in the code, and "progress=false" is an optional argument that disables the download progress bar.
'''

df_eth["Date"] = df_eth.index
'''
The given code adds a new column called "date" in the Pandas DataFrame "data". It uses the "index" of the DataFrame "data" as the values for the "date" column
Here, the Pandas DataFrame "data" is assumed to have a datetime index (i.e., the index of the DataFrame is of datetime type).
The code assigns the datetime values from the index to a new column named "date".
By doing this, the "date" column is added to the DataFrame, and it can be used for further analysis or visualization.
'''

df_eth = df_eth[["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]]
'''
This code is reordering the columns of the dataframe named `data`.
The double square brackets are used to select a subset of columns from the dataframe.
The subset of columns selected are "date", "open", "high", "low", "close", "adj close", and "volume".
The reordered dataframe will have these columns in the order mentioned in the code.
'''

df_eth.reset_index(drop=True, inplace=True)
'''
This code resets the index of a pandas DataFrame called `data` with `reset_index()` method, and it drops the old index with `drop=True` argument.
The `inplace=True` argument indicates that the change is made directly to the original DataFrame `data` rather than creating a new copy.
In simpler terms, this code removes the old index (if it exists) and creates a new numerical index
by reordering the rows, ensuring that the index starts from 0 and increments by 1 for each row.
'''

print(df_eth.head())
df_eth.to_csv('ETH.csv')

        Date         Open         High          Low        Close    Adj Close  \
0 2021-07-07  2323.208496  2403.773438  2298.026855  2315.161865  2315.161865
1 2021-07-08  2317.949219  2324.006836  2089.414307  2120.026367  2120.026367
2 2021-07-09  2115.573975  2185.376221  2051.066650  2146.692383  2146.692383
3 2021-07-10  2146.999756  2190.124023  2081.923584  2111.403564  2111.403564
4 2021-07-11  2110.875732  2172.653320  2083.803711  2139.664795  2139.664795

        Volume
0  22398345285
1  23188123689
2  23029574602
3  17581542471
4  14705386138

##### **1.4 EXTRACTING DATA FOR LITECOIN (LTC)**

In [5]:
df_ltc = yf.download('LTC-USD',
                      start=start_date,
                      end=end_date,
                      progress=False)
'''
This is a Python code that uses the "yfinance" library to download
historical cryptocurrency data for LiteCoin (LTC) in USD from a specified start date to end date.
The variables "start_date" and "end_date" should be defined earlier in the code, and "progress=false" is an optional argument that disables the download progress bar.
'''

df_ltc["Date"] = df_ltc.index
'''
The given code adds a new column called "date" in the Pandas DataFrame "data". It uses the "index" of the DataFrame "data" as the values for the "date" column
Here, the Pandas DataFrame "data" is assumed to have a datetime index (i.e., the index of the DataFrame is of datetime type).
The code assigns the datetime values from the index to a new column named "date".
By doing this, the "date" column is added to the DataFrame, and it can be used for further analysis or visualization.
'''

df_ltc = df_ltc[["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]]
'''
This code is reordering the columns of the dataframe named `data`.
The double square brackets are used to select a subset of columns from the dataframe.
The subset of columns selected are "date", "open", "high", "low", "close", "adj close", and "volume".
The reordered dataframe will have these columns in the order mentioned in the code.
'''

df_ltc.reset_index(drop=True, inplace=True)
'''
This code resets the index of a pandas DataFrame called `data` with `reset_index()` method, and it drops the old index with `drop=True` argument.
The `inplace=True` argument indicates that the change is made directly to the original DataFrame `data` rather than creating a new copy.
In simpler terms, this code removes the old index (if it exists) and creates a new numerical index
by reordering the rows, ensuring that the index starts from 0 and increments by 1 for each row.
'''

print(df_ltc.head())
df_ltc.to_csv('LTC.csv')

        Date        Open        High         Low       Close   Adj Close  \
0 2021-07-07  138.960159  142.900574  137.183868  137.371216  137.371216
1 2021-07-08  137.518265  137.672226  128.446640  132.308502  132.308502
2 2021-07-09  132.170120  135.733536  126.361649  134.571594  134.571594
3 2021-07-10  134.651337  136.724808  130.922501  133.987289  133.987289
4 2021-07-11  133.981262  136.445724  132.245300  134.245834  134.245834

       Volume
0  1594183502
1  1654154836
2  1578256301
3  1301165252
4  1267259648

In [6]:
df = pd.DataFrame({'BTC': df_btc.Close,
                   'ETH': df_eth.Close,
                   'LTC': df_ltc.Close})
df.head()

            BTC          ETH         LTC
0  33855.328125  2315.161865  137.371216
1  32877.371094  2120.026367  132.308502
2  33798.011719  2146.692383  134.571594
3  33520.519531  2111.403564  133.987289
4  34240.187500  2139.664795  134.245834

In [7]:
df['Date'] = df_btc['Date']
df = df[['Date', 'BTC', 'ETH', 'LTC']]
df.head()

        Date           BTC          ETH         LTC
0 2021-07-07  33855.328125  2315.161865  137.371216
1 2021-07-08  32877.371094  2120.026367  132.308502
2 2021-07-09  33798.011719  2146.692383  134.571594
3 2021-07-10  33520.519531  2111.403564  133.987289
4 2021-07-11  34240.187500  2139.664795  134.245834